---
import ExperienceItem from "./ExperienceItem.astro";
import {getLangFromUrl, useTranslations} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const EXPERIENCIE = [
  {
    date: `${t("experience.date1")}`,
    title: "Custom Software Engineering Associate",
    company: "Accenture",
    description: `${t("experience.description1")}`,
    link: `${t("experience.link1")}`,
  },
  {
    date: `${t("experience.date2")}`,
    title: `${t("experience.title2")}`,
    company: `${t("experience.company2")}`,
    description: `${t("experience.description2")}`,
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
