---
const personalImageAlt = "Julián Tibana";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";

import {getLangFromUrl, useTranslations} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/JT.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/julian-tibana"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>{t("hero.badge")}</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-50 sm:text-5xl dark:text-white"
  >
    {t("hero.title")}
  </h1>
  <p
    class="mt-6 text-xl text-gray-50 dark:[&>strong]:text-blue-950 [&>strong]:text-yellow-100 [&>strong]:font-semibold dark:text-gray-300"
  >
    {t("hero.subtitle1")}
    <strong>{t("hero.subtitle2")}</strong>{t("hero.subtitle3")}
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:juliant908@gmail.com">
      <MailIcon class="size-4" />
      {t("hero.contact")}
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/julian-tibana">
      <LinkedInIcon class="size-4" />
      {t("hero.linkedin")}
    </SocialPill>
  </nav>
</div>
