---
import {getLangFromUrl} from "../i18n/utils";

const LANGUAGES = {
  en: "English 🇬🇧",
  es: "Español 🇪🇸",
};
const lang = getLangFromUrl(Astro.url);
const getButtonText = (lang: string) => {
  return LANGUAGES[lang as keyof typeof LANGUAGES];
};
---

<div
  class="language-toggle fixed md:absolute text-xs md:text-sm md:top-0 bottom-3 right-3 flex px-3 h-max font-medium rounded-full text-gray-100 dark:text-gray-200 justify-center items-center dark:bg-gray-800/90 bg-gray-500/50"
>
  <button
    class="px-2 py-2 transition hover:text-yellow-300 dark:hover:text-yellow-300"
    >{getButtonText(lang)}</button
  >
</div>

<script>
  const button = document.querySelector(".language-toggle button");
  button?.addEventListener("click", () => {
    location.href = location.href.includes("/en")
      ? location.href.replace("/en", "/es")
      : location.href.replace("/es", "/en");
  });
</script>
